body{
    text-align: center;

}

h1{
    font-size: 40px;
    font-family:sans-serif;
    font-weight:300;
}

#app{
    height:800px;
    width:100%;
        background-color: cyan;
}

#games{
    height:800px;
    width:100%;
        background-color: magenta;
}

#chat_bot{
    height:800px;
    width:100%;
        background-color: chartreuse;
}

img{
    transition: transform 0.2s;

}

img:hover{
    transform:scale (0.9);
}

.line{
    height:6px;
    width:70px;
    background-clip: black;
    margin:8px auto;
}